{% extends 'base.html'  %}
{% block title %}add book.{% endblock %}
{% block content %}

<h1 class="display-1">findbooks.</h1>
<p class="lead">Add book you found to your library.</p>
<p>Add, rate, review and set read dates for your new book.</p>
<form method="POST">

    {{ form.hidden_tag() }}
  
    {% for field in form
      if field.widget.input_type != 'hidden' %}
    <p>
      {{ field.label }}
      {{ field(class_="form-control") }}
  
      {% for error in field.errors %}
      <span class="form-text text-danger">{{ error }}</span>
      {% endfor %}
    </p>
    {% endfor %}
  
    <button class="btn btn-success" type="submit">Search</button>
  
  </form>
  {% block mylibrary %}
  {% endblock %}

  <p id="test"></p>

{% endblock %}